*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:  Helvetica, Arial, sans-serif; 
    scroll-behavior: smooth;
}
/* 1. vị trí
2.màu sắc
3.kích thước
4.kiểu dáng */


/*  */
.clear{
    clear: both;
}
.text-white{
    color: white !important;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100%/3);
}
.col-full{
    width: 100%;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover{
    color: #333;
    background-color: #ccc;
}
/*  */
#main{

}
 
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    /* xac dinh do cao the header */
}

#nav{
    display: inline-block;
    /* de cac khoi chua no chi dai den cho nao co no thoi */
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{   
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    /* neu la inline-block thi se k ke thua chieu rong cua the chua no */
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* dung top, left thi co the bo position: absolute */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .nav-arow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right; 
    /* loai bo tinh chat the div ke thua het chieu ngang cua the chua no */
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336!important;
    cursor: pointer;
}
#header .search-icon{
    color: pink;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* gia tri % sau la % gia tri chieu ngang chua no */
    /* vay la chieu cao = 50% chieu rong */
    background: url('../img/slider/slider1.jpg') top center /contain no-repeat;
}
#slider .text-content{
    position: absolute;
    color:#fff;
    bottom: 47px;
    /* c1 */
    /* left: 50%;
    transform: translate(-50%); */
    /* c2 */
    width: 100%;
    /* c3 */
    /* left: 0;
    right: 0; */
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content{
    
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 47px;
}
#content .member-item{
    /* float: left;
    width: calc(100%/3);
    width: 33.33333%; */
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    list-style-type: none;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Place */
.places-list{
    margin-top: 32px;
}

.place-img{
    width: 100%;
    display: block;
    /* no la inline thi se co khoang ho giua 2 cai inline va block */
}   
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}


/* test */
/* .contact-infors{
    float: left;
}
.holder-infor{
    display: block;
}
.customer-infor{
    display: block;
} */
/* test */


/* contact-form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 4px;
    width: 100%;
    border: 1px solid #ccc;
}
/* map-section */
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}
#footer .copyright a{
    color: inherit;
}

/* overlay-buy-btn */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    /* display: flex; */
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}
.modal-header {
    display: flex;
    align-items: center;
    background-color: #009688;
    height: 130px;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    opacity: 0.8;
    background-color: blue;
    cursor: pointer;
}
.modal-close:hover {
    opacity: 1;
    background-color: red;
}
.modal-body {
    padding: 16px;
}
.modal-label{
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}
.modal-input {
    width: 100%;
    border: #ccc solid 1px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets {
    width: 100%;
    font-size: 15px;
    color: #fff;
    background-color: #009688;
    text-transform: uppercase;
    padding: 16px;
    border: none;
    cursor: pointer;
}
#buy-tickets:hover {
    /* background-color: #ccc;
    color: #333; */
    opacity: 0.85;
}
.modal-help {
    padding: 16px;
    text-align: right;
}
.modal-help a{
    color: #2196F3;
}